@charset "UTF-8";

body,
html {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
}

a {
  text-decoration: none;
  color: #4b4b4b;
}

li {
  list-style: none;
}

/* header */
.Header {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: white;
  box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
}

.Header-Contents {
  display: flex;
  width: 100%;
  max-width: 1570px;
  height: 100%;
  margin: 0 auto;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
}

.Header-H1 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  letter-spacing: 0.5px;
}

.Header-H1 a:hover {
  opacity: 0.9;
}

.hamburger-menu {
  display: none;
}

.Header-Nav-List {
  display: flex;
}

.Header-Nav-List-Item {
  margin-left: 70px;
  font-size: 20px;
  letter-spacing: 2.5px;
}

/* hover */
.Header-Nav-List-Item a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.Header-Nav-List-Item a::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.Header-Nav-List-Item a:hover::after {
  bottom: 2.5px;
  opacity: 1;
  visibility: visible;
}

/* main */
.Main {
  height: auto;
  padding-top: 90px;
}
.Main-Mainvisual {
  width: 100%;
  margin: 0;
}
.Main-Mainvisual img {
  width: 100%;
}

.Main-Wrapper {
  margin: 0 auto;
}

.Main-section {
  margin: 60px auto;
  text-align: center;
  padding: 20px;
}

.Main-section-H2 {
  display: inline;
  font-weight: 100;
}

.Explanation {
  font-size: 20px;
  line-height: normal;
  padding: 0 20px;
}

.Main-Contents {
  max-width: 650px;
  margin: 0 auto 90px auto;
  padding: 0 20px;
  text-align: center;
}

.Main-Contents p {
  margin: 0;
  margin-bottom: 200px;
}

.Main-Contents p a {
  display: block;
}

.Main-Contents img {
  width: 100%;
}

.Main-Contents a:hover {
  box-shadow: 0 0 30px 0px rgb(0 0 0 / 25%);
  transition: 0.5s;
}

/* About */
.Main-Contents-About {
  max-width: 650px;
  margin: 90px auto;
  padding: 0 20px;
  text-align: center;
}

.Profile img {
  border-radius: 500px;
  width: 100%;
}

/* contact */
.contact {
  padding: 100px 20px;
  margin: 100px auto;
  max-width: 1200px;
}

.contact-ttl {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.contact-table {
  width: 100%;
  margin-bottom: 20px;
}

.contact-item,
.contact-body {
  padding: 20px;
  border: 1px solid #ccc;
  font-family: "Vollkorn", serif;
  color: #4b4b4b;
}

.contact-item {
  text-align: left;
  width: 30%;
  background-color: #eee;
}

.contact-body {
  width: 70%;
}

.form-text {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 400px;
}

.contact-submit {
  width: 250px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  padding: 15px;
  border-radius: 100vh;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

/* fotter */
.Fotter {
  background-color: #868686;
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
  color: aliceblue;
}

@media only screen and (max-width: 720px) {
  /* header */
  .Header {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: white;
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
  }

  .Header-Contents {
    display: flex;
    width: 100%;
    max-width: 1570px;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
  }

  .Header-H1 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    letter-spacing: 0.5px;
  }

  .Header-H1 a:hover {
    opacity: 0.9;
  }

  .Header-Nav {
    display: none;
  }

  /* ハンバーガーメニュー */
  .hamburger-menu {
    display: block;
    position: absolute;
    right: -50px;
  }

  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #333;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }

  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(
      255,
      255,
      255,
      0
    ); /*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transition: all 0.2s;
    transform: rotate(45deg);
    background-color: #ffffff;
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transition: all 0.2s;
    transform: rotate(-45deg);
    background-color: #ffffff;
  }

  /* コンテンツ */

  .menu-content ul {
    padding: 70px 10px 0;
  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
    text-align: center;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 50px 15px 10px 0;
    position: relative;
  }

  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: rgb(0 0 0 / 85%);
    transition: all 0.5s; /*アニメーション設定*/
  }

  #menu-btn-check:checked ~ .menu-content {
    left: 0; /*メニューを画面内へ*/
  }
  /* ハンバーガーメニュー */

  /* main */
  .Main-section H2 {
    font-size: 14px;
  }

  .Explanation {
    font-size: 14px;
  }
}
